* {


    margin: 0;
}


body {


    height: 100vh;
    background-color: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {

    height: 102px;
    width: 150px;
    /* background-color: brown; */
    flex-basis: 50%;
    /* flex-grow: 1; */
    margin-bottom: 50px;
}

div {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    justify-content: center;
    
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {


    /* background-color: green; */
}

p {

    /* background-color: magenta; */
    flex-basis: 45%;
}