:root{

    --bg:#183028;
    --fg: #c5e86c;
}

html{

    box-sizing: border-box;
    
}

*,*::after,*::before{

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {

    min-height: 100vh;
    border: 1px red solid;
    display: flex;
    background-color: #cad2ca;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

aside{

    background-color:var(--bg);
    flex-basis: 25%;
    color: azure;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

main{

    background-color: white;
    /* flex-basis: 75%; */
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 15px;
    /* padding-left: 15px;
    padding-right: 15px; */

}
.top-nav{
    flex-basis: 8%;
    /* background-color: #8bad35; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search{

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0 15px;
    
}

.search input{
    border: none;
}

.search i,.bell-border{
    color: #7e8c88;

}
.top-nav h1{

    flex:1;
    font-size: 2.5rem;
    font-weight: 500;
}

.bell-border{

    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;


    /* padding: 10px; */

}
.top-nav button{

     background-color: var(--bg); 
    color: white;
    padding: 0 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none; 
}

.top-nav div{
    
    border:2px solid #ebedec;
    border-radius: 2px;
}




.bottom-nav{
    flex-basis: 8%;
    background-color: #e4f8a2;
}

.debit-card{
    background-color: #707070;
    flex-basis: 24%;
}

.transaction{

    background-color: #ddffcb;
    flex:1;
}

.dashboard-bg{

    width: 65%;
    display: flex;
    height: 85vh;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    /* width: 1083px; */
    /* height: 766px; */

}

.do-color{

    color:var(--fg);
}

.brand-label{

    font-size: 1.8rem;
}

.side-bar-header{

    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    flex-basis: 10px;

}

ul>li{
    font-size: 0.8rem;
    list-style: none;
    line-height: 2;
    /* margin-top: 1px; */
    /* margin-bottom: 1px; */
    padding-left: 19px;
    padding-right: 10px;

}

ul>li:hover{

    background-color: var(--fg);
    color: var(--bg);
    padding: 10px;

}

li>i{

    padding-right: 10px;
}

.top-nav div,button{

    /* background-color: red; */
    height: 45px;
}


