.flex-container {

    border: 2px solid red;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {

    height: 25px;
    text-align: center;
    display: block;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-color: green; */
    /* border-style: solid; */
    /* border-width: 2px; */
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.flex-35{

    flex-basis: 35%;
    background-color: #f29648;
    

}

.flex-15{

    flex-basis: 15%;
    background-color: #4496b2;
}

.flex-50{

    flex-basis: 50%;
    background-color: #253e56;
}